.container{
    border:3px solid brown;
    background-color: greenyellow;
    height: 500px;
    width: 500px;
    display: flex;
}

.box{
    height:150px;
    width:150px; 
    margin:20px; 
    border:2px solid orangered;
    background-color: aqua;

   transition:transform 3s ease-in;   
}

.box:hover{
    /*background-color: brown;
    transform: rotate(45deg);*/

    transform: translateX(500px);
}