h1{
    text-shadow: 3px 3px 3px red;
    text-shadow: 3px 3px 3px red, 60px 60px 5px yellow;
}

.box{
    background-color: aqua;
    width:200px;
    height:200px;
    box-shadow:-10px -10px 15px green, 15px 15px 15px violet;
    color: red;
}


